<div id="<%= dom_id post %>">
</div>
<div class="post">
  <div class="post-header">
    <div class="post-meta">
      <div class="author-section">
        <div class="profile-image"></div>
        <div class="author-details">
          <div class="author"><%= post.author %></div>
          <div class="timestamp"><%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
      </div>
    </div>
    <% if authenticated? %>
      <button class="btn btn-primary btn-md reply-button" onclick="document.getElementById('reply-dialog-<%= post.id %>').showModal()">Reply</button>
    <% end %>
  </div>
  
  <div class="post-content">
    <div class="body"><%= format_content(post.body) %></div>
    <% if post.hash_tags.any? %>
      <div class="tags">
        <% post.hash_tags.each do |tag| %>
          <%= link_to tag.name, posts_path(q: tag.name), class: "tag" %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div id="replies_<%= post.id %>">
    <%= render "posts/replies", post: post %>
  </div>

  <dialog id="reply-dialog-<%= post.id %>" class="dialog-base" onclick="if (event.target === this) this.close()">
    <%= form_for [post, Reply.new], html: { class: "dialog-form", onsubmit: "this.closest('dialog').close()" }, data: {turbo: true} do |f| %>
      <%= render 'shared/post_dialog', form: f %>
    <% end %>
  </dialog>
</div>
