<div id="<%= dom_id post %>">
</div>
<div class="post">
  <div class="post-header">
    <div class="post-meta">
      <div class="author-section">
        <div class="profile-image"></div>
        <div class="author-details">
          <div class="author"><%= post.author %></div>
          <div class="timestamp"><%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
      </div>
    </div>
    <% if authenticated? %>
      <button class="btn btn-primary btn-md reply-button" onclick="document.getElementById('reply-dialog-<%= post.id %>').showModal()">Reply</button>
    <% end %>
  </div>
  
  <div class="post-content">
    <div class="body"><%= highlight_hashtags(post.body) %></div>
    <% if post.hash_tags.any? %>
      <div class="tags">
        <% post.hash_tags.each do |tag| %>
          <%= link_to tag.name, posts_path(q: tag.name), class: "tag" %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <% if post.replies.any? %>
    <div data-controller="replies" 
         data-replies-count-value="<%= post.replies.count %>"
         data-replies-search-value="<%= @query.present? %>">
      <button 
        data-action="replies#toggle" 
        data-replies-target="count"
        class="replies-toggle">
        Hide replies
      </button>
      
      <div class="replies" data-replies-target="replies">
      <% post.replies.each do |reply| %>
        <div class="reply">
          <div class="author-section">
            <div class="profile-image"></div>
            <div class="author-details">
              <div class="author"><%= reply.author %></div>
              <div class="timestamp"><%= time_ago_in_words(reply.created_at) %> ago</div>
            </div>
          </div>
          <div class="body"><%= reply.body %></div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

  <% puts post_replies_path(post) if defined?(post) %>
  <dialog id="reply-dialog-<%= post.id %>" class="reply-dialog" onclick="if (event.target === this) this.close()">
    <%= form_for [post, Reply.new], html: { class: "reply-form" }, data: {turbo: true} do |f| %>
      <%= render 'shared/post_dialog', form: f %>
    <% end %>
  </dialog>
</div>
