<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>
<button class="new-post-button" onclick="document.getElementById('new-post-dialog').showModal()">New Post</button>

<div id="posts">
  <%= render partial: "posts/post", collection: @posts %>
</div>

<dialog id="new-post-dialog" class="post-dialog">
  <%= form_for Post.new, html: { class: "post-form" }, data: { turbo: true } do |f| %>
    <div>
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    
    <%= f.submit "Create Post", class: "post-button" %>
    <button type="button" onclick="this.closest('dialog').close()">Cancel</button>
  <% end %>
</dialog>
