<p style="color: green"><%= notice %></p>

<% content_for :title, @query.present? ? "Search Results" : "Posts" %>

<div class="header-section">
  <h1><%= @query.present? ? "Search Results" : "Posts" %></h1>
  
  <div class="search-section">
    <%= form_tag posts_path, method: :get, class: "search-form" do %>
      <%= search_field_tag :q, params[:q], placeholder: "Search posts and replies...", class: "search-input" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>
</div>

<% if @query.present? %>
  <p class="search-info">Showing results for "<%= @query %>"</p>
<% end %>
<button class="new-post-button" onclick="document.getElementById('new-post-dialog').showModal()">New Post</button>

<div id="posts">
  <%= render partial: "posts/post", collection: @posts %>
</div>

<dialog id="new-post-dialog" class="post-dialog">
  <%= form_for Post.new, html: { class: "post-form", onsubmit: "this.closest('dialog').close()"}, data: { turbo: true } do |f| %>
    <div>
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    
    <%= f.submit "Create Post", class: "post-button" %>
    <button type="button" onclick="this.closest('dialog').close()">Cancel</button>
  <% end %>
</dialog>
