<div class="container">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, @query.present? ? "Search Results" : "Posts" %>

  <div class="header-section">
  <h1><%= @query.present? ? "Search Results" : "Posts" %></h1>
  
  <div class="search-section">
    <%= form_tag posts_path, method: :get, class: "search-form" do %>
      <%= search_field_tag :q, params[:q], placeholder: "Search posts and replies...", class: "search-input" %>
    <% end %>
  </div>
</div>

<% if @query.present? %>
  <p class="search-info">Showing results for "<%= @query %>"</p>
<% end %>
<button class="btn btn-primary btn-lg new-post-button" onclick="document.getElementById('new-post-dialog').showModal()">New Post</button>

<div id="posts">
  <%= render partial: "posts/post", collection: @posts %>
</div>

<dialog id="new-post-dialog" class="post-dialog" onclick="if (event.target === this) this.close()">
  <%= form_for Post.new, html: { class: "post-form" }, data: { turbo: true } do |f| %>
    <%= render 'shared/post_dialog', form: f %>
  <% end %>
</dialog>
</div>
