<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bird" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script data-goatcounter="https://nikolay-labs.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22></text></svg>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
    <%= link_to "posts", "/posts" %> 
    路 <a href="/about">about</a>
    路 <a href="https://github.com/na47io/bird" target="_blank">source</a>
    <% if authenticated? %>
      路 <a href="/profile/edit">profile</a>
    <% else %>
      路 <a href="/session/new">log in</a>
    <% end %>
  </footer>
</html>
